<!-- ==================== HEADER ==================== -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="contactLabel">Informations</h4>
</div>

<!-- ==================== BODY ==================== -->
<div class="modal-body">

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="./img/icon-avatar/fanda.png" alt="Fanda">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Fanda</h4>
      Description of Fanda
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="./img/icon-avatar/pev.png" alt="Pev">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Pev</h4>
      Description of Pev
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="./img/icon-avatar/github.png" alt="Fanda">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Github Sources</h4>
      You can Follow our activities on Github -> <a href="https://github.com/PapyPev/TraMap">sources</a>
    </div>
  </div>

</div>

<!-- ==================== FOOTER ==================== -->
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">
    Close
  </button>
</div>
